.toolbar {
    display: flex;
    align-items: center;
    padding: 0px 5px !important;
    height: 4vh;
    background-color: #047acf;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-right: 10px;
}

.title {
    font-family: Impact !important;
    font-size: 50px !important;
    text-decoration: none;
    color: white;
}

// Container para mover agrupar título y logo
.logoTitleContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.language {
    font-size: 15px;
    margin-left: 2px;;
}

// Container para idiomas, switch y logout
.rightContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}