.alumnoInfoContainer {
    text-align: center; /* Centra el texto horizontalmente */
    margin-left: 20px; 
    margin-right: 20px;
  }
  
  .alumnoName {
    font-size: 1.8rem; /* Tamaño de fuente más grande para el nombre */
    font-weight: bold; /* Negrita para destacar */
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  .alumnoDetails {
    font-size: 1rem; /* Tamaño de fuente estándar */
    margin: 5px 0; /* Espaciado entre líneas */
  }