.container {
    margin-block-start: 30px; /* Espaciado superior exterior del container de charts*/
    margin-block-end: 150px; /* Espaciado inferior exterior del container de charts */
  }
  
  .paper {
    padding: 20px; /* Espaciado interno dentro de todo el container*/
  }
  
  .filtersContainer { 
    display: flex; /* Activa flexbox */
    flex-direction: row; /* Alinea los filtros en una fila */
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 20px; /* Espaciado entre los elementos */
    margin-block: 20px; /* Espaciado superior e inferior de */
    margin-inline: 10px; /* Espaciado izquierdo y derecho */
  }
  
  .chartContainer {
    width: 100%;
    height: 500px;
    position: relative;
  }
  
  .noDataBox {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  
  .tableContainer {
    margin-top: 20px;
    text-align: center;
  }

  .filterFormControl {
    min-width: 150px; /* Ancho mínimo del desplegable */
  }
  
  .datePicker {
    min-width: 150px; /* Ancho mínimo del selector de fecha */
  }